#one{
    font-weight: bolder;
}
#two{
    font-weight: bolder;
    background-color:khaki;
}
#three{
   border:5px solid green;
}
#four{
    border: 1rem solid green;
}
#five{
    border:1em solid green;
}